<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.remoer.member.mapper.MemberMapper">

	<select id="login" resultType="MemberVO">
		SELECT id, nickname, grade FROM member WHERE id = #{id} AND pw = #{pw}
	</select>
	
	<select id="findId" resultType="String">
		SELECT id FROM member WHERE name = #{name} AND tel = #{tel}
	</select>
	
	<select id="findPw" resultType="String">
		SELECT id FROM member WHERE id = #{id} AND name = #{name} AND tel = #{tel}
	</select>
	
	<update id="updatePw">
		UPDATE member SET pw = #{pw} WHERE id = #{id}
	</update>

	<select id="list" resultType="MemberVO">
		SELECT m.id, m.nickname, m.name, m.reg_date, m.login_date, g.grade_name, m.status
		FROM member m, grade g
	</select>
	
	<sql id="search">
		m.id LIKE '%'||#{word}||'%'
	</sql>
	
	<select id="list" resultType="MemberVO">
		SELECT m.id, m.nickname, m.name, m.birth, m.address, m.tel, m.email, m.reg_date, m.login_date, g.grade_name, m.status
		FROM member m, grade g
	</select>

	<insert id="join">
		INSERT INTO member (id, pw, nickname, name, birth, address, tel, email)
		VALUES (#{id}, #{pw}, #{nickname}, #{name}, #{birth}, #{address}, #{tel}, #{email})
	</insert>

</mapper>